{% extends "base.html" %}

{% block content %}

<section class="card">
    <div class="section-header">
        <div>
            <h2>Modifier le rapport</h2>
            <p>Rapport n°{{ rapport.id }}</p>
        </div>

        <a href="/rapports/{{ rapport.id }}" class="btn-secondary">← Retour</a>
    </div>

    <form method="POST" enctype="multipart/form-data" class="form">

        <label>Secteur</label>
        <select name="secteur_id" required>
            {% for secteur in secteurs %}
                <option value="{{ secteur.id }}"
                    {% if secteur.id == rapport.secteur_id %}selected{% endif %}>
                    {{ secteur.nom }}
                </option>
            {% endfor %}
        </select>

        <label>Machine</label>
        <input type="text" name="machine" value="{{ rapport.machine }}" required>

        <label>Problème</label>
        <textarea name="probleme" rows="4" required>{{ rapport.probleme }}</textarea>

        <label>Travaux réalisés</label>
        <textarea name="travaux" rows="4" required>{{ rapport.travaux }}</textarea>

        <label>Nom du technicien</label>
        <input type="text" name="technicien" value="{{ rapport.technicien }}" required>

        <label>Commentaire</label>
        <textarea name="commentaire" rows="4">{{ rapport.commentaire }}</textarea>

        <label>Référence</label>
        <input type="text" name="reference" value="{{ rapport.reference }}">

        <label>Ajouter une photo</label>

        <label class="upload-box">
            <input
                type="file"
                name="photo"
                accept="image/*"
                onchange="updateFileName(this)"
            >

            <div class="upload-content">
                <div class="upload-icon">📷</div>

                <img
                    id="preview-image"
                    class="preview-image"
                    style="display:none;"
                >

                <strong>Ajouter une photo</strong>
                <p id="file-name">Cliquez pour sélectionner une image</p>
            </div>
        </label>

        <button type="submit" class="btn">Enregistrer les modifications</button>

    </form>
</section>

<script>
function updateFileName(input) {
    const text = document.getElementById("file-name");
    const preview = document.getElementById("preview-image");

    if (input.files.length) {
        const file = input.files[0];
        text.innerHTML = "✅ " + file.name;
        preview.src = URL.createObjectURL(file);
        preview.style.display = "block";
    }
}
</script>

{% endblock %}