<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GM Interventions</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css') }}?v=2"
>
</head>

<body>

    <div class="app-layout">

        <!-- Sidebar -->
        <aside class="sidebar">

            <div class="logo">
                <div class="logo-icon">🛠️</div>

                <div>
                    <h1>GM</h1>
                    <p>Interventions</p>
                </div>
            </div>

                <nav class="menu">
                    <a href="/">🏠 Tableau de bord</a>
                    <a href="/demandes/nouvelle">📝 Nouvelle demande</a>
                    <a href="/demandes">📋 Demandes</a>
                    <a href="/rapports/nouveau">📄 Nouveau rapport</a>
                    <a href="/rapports">📑 Rapports</a>
                    <a href="#">📊 Statistiques</a>
                    <a href="/parametres">⚙️ Paramètres</a>
                </nav>

            <div class="sidebar-footer">
                <p>Application maintenance</p>
                <small>Version 1.0</small>
            </div>

        </aside>

        <!-- Contenu principal -->
        <div class="content-area">

            <header class="topbar">
                <div>
                    <h2>
                        {% block page_title %}
                            Tableau de bord
                        {% endblock %}
                    </h2>

                    <p>
                        {% block page_subtitle %}
                            Gestion des demandes d'intervention
                        {% endblock %}
                    </p>
                </div>
            </header>

            <main>
                {% block content %}
                {% endblock %}
            </main>

        </div>

    </div>

{% include "components/confirm_modal.html" %}

<script src="{{ url_for('static', filename='js/confirm-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters-memory.js') }}"></script>

</body>

</html>